@use '@styles/_extends';
@use '@styles/_mixins';
.contact-form{
  textarea, input{
    @include mixins.mb(3rem);
    &::placeholder{
      @extend %text-cap;
      opacity: .8;
    }
    &:focus{
      &::placeholder{
        color: transparent;
      }
    }
  }
  .form-textarea{
    border: .1rem solid #e5e6e9;
    border-radius: 0;
    height: auto;
    padding-left: 1.8rem;
    font-size: 1.3rem;
    background: transparent;
    resize: none;
  }
  .form-input{
    border: .1rem solid #e5e6e9;
    border-radius: 0;
    height: 4.8rem;
    padding-left: 1.8rem;
    font-size: 1.3rem;
    background: transparent;
    width: 100%;
  }
  .form-btn{
    >button[type='submit']{
      background: #fff;
      color: #FF4495;
      display: inline-block;
      padding: 1.8rem 4.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      border: .1rem solid #FF4495;
      letter-spacing: .1rem;
      text-align: center;
      color: #FF4495;
      @extend %text-upper;
      cursor: pointer;
      -webkit-transition: all .3s ease-out 0s;
      -moz-transition: all .3s ease-out 0s;
      -ms-transition: all .3s ease-out 0s;
      -o-transition: all .3s ease-out 0s;
      transition: all .3s ease-out 0s;
      &:hover{
        background: #FF4495;
        color: #fff;
      }
      &.is-pending{
        background: #FF4495;
        color: #fff;
        @extend %pos-rel;
        &::before{
          content: ' ';
          @extend %pos-abs;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}