@use "@styles/_extends";
.contact-section{
  padding-bottom: 10rem;
  .contact-title{
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
    @extend %text-cap;
  }
  .contact-info{
    @extend %d-flex;
    margin-bottom: 2.5rem;
  }
}