@use '@styles/_extends';
.service{
  padding-bottom: 12rem;
  .shape-1{
    @extend %pos-abs;
    top: 13%;
    left: 3%;
    z-index: -1;
  }
  .shape-2{
    @extend %pos-abs;
    top: -18%;
    right: 0%;
    z-index: -1;
  }
}